<!-- Main Content -->
<div class="background">
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
    <div class="container form-container table-container">
        <%if (displayName){ %>
          <div class="row">
            <div class="col-md-9">
              <h1 style="color: rgb(6, 8, 6); ">Survey: <%= surveys.Title %></h1>
            </div>
            <div class="col-md-3">
              <a href="#" class="btn btn-primary" role="button"
                onclick="ExportToExcel('xlsx')">
                <i class="fas fa-file-excel"></i> Export To Excel</a>
            </div>
            <div class="col-md-12">

              <table id="report_table" class="table table-striped">
                <tr>
                  <% if ( surveys.QuestionType=="True/False" ) { %>
                    <th class="col-6">Question</th>
                    <th class="col-2">True</th>
                    <th class="col-2">False</th>
                    <% } %>
                      <% if ( surveys.QuestionType=="RatingScale" ) { %>
                        <th class="col-6">Question</th>
                        <th class="col-2">Very Satisfied</th>
                        <th class="col-1">Satisfied</th>
                        <th class="col-1">Dissatisfied</th>
                        <th class="col-2">Very Dissatisfied</th>
                        <% } %>

                          <% if ( surveys.QuestionType=="TextQuestion" ) { %>
                            <th class="col-4">
                              <% surveys.Questions[0] %>
                            </th>
                            <th class="col-4">
                              <% surveys.Questions[1] %>
                            </th>
                            <th class="col-4">
                              <% surveys.Questions[2] %>
                            </th>
                            <th class="col-4">
                              <% surveys.Questions[3] %>
                            </th>
                            <th class="col-4">
                              <% surveys.Questions[4] %>
                            </th>
                            <% } %>

                </tr>

                <% if ( votes> 0) { %>
                  <% for (i=0; i < surveys.Questions.length; i++ ) { %>
                    <tr>
                      <% if ( surveys.QuestionType=="True/False" ) { %>
                        <td class="col-6">
                          <%= surveys.Questions[i] %>
                        </td>
                        <td class="col-2">
                          <%= answerTrue[i] %>
                        </td>
                        <td class="col-2">
                          <%= answerFalse[i] %>
                        </td>
                        <% } %>
                          <% if ( surveys.QuestionType=="RatingScale" ) { %>
                            <td class="col-6">
                              <%= surveys.Questions[i] %>
                            </td>
                            <td class="col-1">
                              <%= verySatisfied[i] %>
                            </td>
                            <td class="col-1">
                              <%= satisfied[i] %>
                            </td>
                            <td class="col-1">
                              <%= dissatisfied[i] %>
                            </td>
                            <td class="col-2">
                              <%= veryDissatisfied[i] %>
                            </td>
                            <% } %>
                    </tr>
                    <% } %>
                      <% } %>
              </table>
            </div>
            <div class="row">
              <div class="col-8" style="margin-left: 75%;">
              <a href="#charts"><button class="btn btn-primary" style="margin-bottom: 50px; margin-top: 50px;">
                <i class="fa fa-eye"></i> View Charts</button></a>

                <a href="/api/mysurvey"><button class="btn btn-primary" style="margin-bottom: 50px; margin-top: 50px;">
                  <i class="fa-solid fa-arrow-rotate-left"></i> Return</button></a>
                </div>
            </div>
            <%}%>
          </div>
        </div>
    </div>
    
    <div id="charts" class="container mb-1">
      <!--PIE CHART-->
      <!-- RATING SCALE-->
      <% if (displayName) { %>
        <div class="row">
          <div class="col-4">
            <div class="container" style="position: relative; height:10vh; width:20vw; margin-bottom: 250px; margin-top: 50px;">
              <h5 style="color: rgb(11, 8, 8)">Question 1: <%=surveys.Questions[0]%></h5>
              <canvas style="background-color: rgba(255, 241, 201); border: 1px solid #060606;" id="myChart1"></canvas>
            </div>
          </div>

          <div class="col">
            <div class="container" style="position: relative; height:10vh; width:20vw; margin-bottom: 250px; margin-top: 50px;">
              <h5 style="color: rgb(4, 3, 3)">Question 2: <%=surveys.Questions[1]%></h5>
              <canvas style="background-color: rgba(255, 241, 201); border: 1px solid #060606;" id="myChart2"></canvas>
            </div>
          </div>
    
          <div class="col">
            <div class="container" style="position: relative; height:10vh; width:20vw; margin-bottom: 250px; margin-top: 50px;">
              <h5 style="color: rgb(7, 7, 7)">Question 3: <%=surveys.Questions[2]%></h5>
              <canvas style="background-color: rgba(255, 241, 201); border: 1px solid #060606;" id="myChart3"></canvas>
            </div>
          </div>
        </div>
    
      <div class="row">
        <div class="col"> 
          <div class="container" style="position: relative; height:10vh; width:20vw; margin-bottom: 300px; margin-top: 50px;">
          <h5 style="color: rgb(7, 6, 6)">Question 4: <%=surveys.Questions[3]%></h5>
            <canvas style="background-color: rgba(255, 241, 201); border: 1px solid #060606;" id="myChart4"></canvas>
          </div>
        </div>
    
        <div class="col">
          <div class="container" style="height:10vh; width:20vw; margin-bottom: 300px; margin-top: 50px;">
          <h5 style="color: rgb(6, 5, 5)">Question 5: <%=surveys.Questions[4]%></h5>
            <canvas style="background-color: rgba(255, 241, 201); border: 1px solid #060606;" id="myChart5"></canvas>
          </div>
        </div>
      </div>

      <% if ( surveys.QuestionType == "RatingScale" ) { %>
      <script>
  
        let color = ['rgba(236, 107, 86)', 'rgba(255, 193, 84)', 'rgba(71, 179, 156)','rgba(128,0,128)'];
        let ctx1 = document.getElementById('myChart1').getContext('2d');
        let myChart1 = new Chart(ctx1, {
            type: 'pie',
            data: {
                labels: ['Very Satisfied', 'Satisfied', 'Dissatisfied', 'Very Dissatisfied'],
                datasets: [{
                    data: [<%= verySatisfied[0]%>, <%= satisfied[0]%>, <%= dissatisfied[0]%>, <%= veryDissatisfied[0]%>],
                    backgroundColor: color,
                        borderWidth: 2,
                        borderColor: 'rgba(0, 0, 0)',
                        hoverOffset: 8,
                }]
            },
            options: {
              
            }
        });
        
        let ctx2 = document.getElementById('myChart2').getContext('2d');
        let myChart2 = new Chart(ctx2, {
            type: 'pie',
            data: {
              labels: ['Very Satisfied', 'Satisfied', 'Dissatisfied', 'Very Dissatisfied'],
                datasets: [{
                    data: [<%= verySatisfied[1]%>, <%= satisfied[1]%>, <%= dissatisfied[1]%>, <%= veryDissatisfied[1]%>],
                    backgroundColor:color,
                        borderWidth: 2,
                        borderColor: 'rgba(0, 0, 0)',
                        hoverOffset: 8,
                }]
            },
            options: {
            }
        });
        
        let ctx3 = document.getElementById('myChart3').getContext('2d');
        let myChart3 = new Chart(ctx3, {
            type: 'pie',
            data: {
              labels: ['Very Satisfied', 'Satisfied', 'Dissatisfied', 'Very Dissatisfied'],
                datasets: [{
                    data: [<%= verySatisfied[2]%>, <%= satisfied[2]%>, <%= dissatisfied[2]%>, <%= veryDissatisfied[2]%>],
                    backgroundColor: color,
                        borderWidth: 2,
                        borderColor: 'rgba(0, 0, 0)',
                        hoverOffset: 8,
                }]
            },
            options: {
            }
        });
        
        let ctx4 = document.getElementById('myChart4').getContext('2d');
        let myChart4 = new Chart(ctx4, {
            type: 'pie',
            data: {
              labels: ['Very Satisfied', 'Satisfied', 'Dissatisfied', 'Very Dissatisfied'],
                datasets: [{
                    data: [<%= verySatisfied[3]%>, <%= satisfied[3]%>, <%= dissatisfied[3]%>, <%= veryDissatisfied[3]%>],
                    backgroundColor: color,
                        borderWidth: 2,
                        borderColor: 'rgba(0, 0, 0)',
                        hoverOffset: 8,
                }]
            },
            options: {
            }
        });
        
        let ctx5 = document.getElementById('myChart5').getContext('2d');
        let myChart5 = new Chart(ctx5, {
            type: 'pie',
            data: {
              labels: ['Very Satisfied', 'Satisfied', 'Dissatisfied', 'Very Dissatisfied'],
                datasets: [{
                    data: [<%= verySatisfied[4]%>, <%= satisfied[4]%>, <%= dissatisfied[4]%>, <%= veryDissatisfied[4]%>],
                    backgroundColor: color,
                        borderWidth: 2,
                        borderColor: 'rgba(0, 0, 0)',
                        hoverOffset: 8,
                }]
            },
            options: {
            }
        });
        
        </script>
      <% } else { %>
        <script>
          let colorTF = ['rgba(236, 107, 86)', 'rgba(255, 193, 84)'];
          const ctx11 = document.getElementById('myChart1').getContext('2d');
          const Chart1 = new Chart(ctx11, {
              type: 'pie',
              data: {
                  labels: ['True', 'False'],
                  datasets: [{
                      data: [<%= answerTrue[0]%>, <%= answerFalse[0]%>],
                      backgroundColor: colorTF,
                          borderWidth: 2,
                          borderColor: 'rgba(0, 0, 0)',
                          hoverOffset: 8
                  }]
              },
              options: {
              }
          });

          let ctx22 = document.getElementById('myChart2').getContext('2d');
          let Chart2 = new Chart(ctx22, {
              type: 'pie',
              data: {
                  labels: ['True', 'False'],
                  datasets: [{
                      data: [<%= answerTrue[1]%>, <%= answerFalse[1]%>],
                      backgroundColor: colorTF,
                          borderWidth: 2,
                          borderColor: 'rgba(0, 0, 0)',
                          hoverOffset: 8,
                  }]
              },
              options: {
                
              }
          });

          let ctx33 = document.getElementById('myChart3').getContext('2d');
          let Chart3 = new Chart(ctx33, {
              type: 'pie',
              data: {
                  labels: ['True', 'False'],
                  datasets: [{
                      data:[<%= answerTrue[2]%>, <%= answerFalse[2]%>],
                      backgroundColor: colorTF,
                          borderWidth: 2,
                          borderColor: 'rgba(0, 0, 0)',
                          hoverOffset: 8
                  }]
              },
              options: {
              }
          });

          let ctx44 = document.getElementById('myChart4').getContext('2d');
          let Chart4 = new Chart(ctx44, {
              type: 'pie',
              data: {
                  labels: ['True', 'False'],
                  datasets: [{
                      data: [<%= answerTrue[3]%>, <%= answerFalse[3]%>],
                      backgroundColor:colorTF,
                          borderWidth: 2,
                          borderColor: 'rgba(0, 0, 0)',
                          hoverOffset: 8
                  }]
              },
              options: {
              }
          });

          let ctx55 = document.getElementById('myChart5').getContext('2d');
          let Chart5 = new Chart(ctx55, {
              type: 'pie',
              data: {
                  labels: ['True', 'False'],
                  datasets: [{
                      data: [<%= answerTrue[4]%>, <%= answerFalse[4]%>],
                      backgroundColor:colorTF,
                          borderWidth: 2,
                          borderColor: 'rgba(0, 0, 0)',
                          hoverOffset: 8
                  }]
              },
              options: {
              }
          });
        </script>
    <% } }%>
    </div>